<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
      <link rel="stylesheet" href="/css/index.css" media="screen"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>

  <!-- FIN MENU -->
  <%- include("menu2") %>
  <div class="contenido row justify-content-center align-items-center">
    <div class="card col-auto" style="max-width: 1080px;">
        <h3> <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-success">Puntuacion: <%=pelicula.puntuacion%></span></h3>
      <div class="row g-0">
        <div class="col-md-4">
          <div class="containerGridCard">
            <article class="information">
              <a class="titleCard">
                <%= pelicula.nombre.toUpperCase() %>
              </a>
              <img src="data:image/jpeg; base64, <%= ((new Buffer(pelicula.img)).toString('base64')) %>" class="img-fluid rounded" alt="...">
            </article>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <form method="POST" class="row" action="/films/favFilm/<%= pelicula.id %>/<%= favorite %>">
              <h5 class="card-title col col-11"><%=pelicula.nombre%></h5>
              <div class="col col-1">
                <% if (favorite) { %>
                  <button class="bi bi-check icon" data-bs-toggle="tooltip" data-bs-title="Default tooltip" type="submit" name="delete"></button>
                <% } else { %>
                  <button class="bi bi-plus icon" data-bs-toggle="tooltip" data-bs-title="Default tooltip" type="submit" name="add"></button>
                <% } %>
              </div>
            </form>
            <p class="card-text"><%=pelicula.sinopsis%></p>
            <!-- getFullYear() -->
            <p class="card-text"><small class="text-muted">Año de estreno: <%=pelicula.fechaEstreno.getFullYear()%> | <%=pelicula.duracion%> minutos | <%=pelicula.genero%></small></p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Actores</h5>
            <ul class="list-group list-group-flush">
              <% actoresV.forEach(function(actor) { %>
              <li class="list-group-item"><%=actor.nombreAct%> <%=actor.apellidosAct%></li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 class="strong text-center text-dark mt-2">Comentarios:</h1>
  <div class="row">
    <div class="col col-4 offset-4">
      <% if (comentariosV.length === 0) { %>
        <h2 class="text-center">Sin comentarios</h2>
      <% } else { %>
        <% comentariosV.forEach(function(comentariosV) { %>
          <span><strong><%=comentariosV.username%></strong></span>
          <span class="date"><%=comentariosV.fecha.toLocaleDateString()%></span><br>
          <%=comentariosV.texto%><br><br>
        <% }); %> 
      <% } %>
    </div>
  </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
  </body>
</html>