<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/index.css" media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Roboto+Condensed&display=swap" rel="stylesheet">
    
    
</head>


<body>

<!-- FIN MENU -->
<%- include("menu2") %>

<div class="contenido  m-0 vh-100 row justify-content-center align-items-center">
  
   
  <div class="card mb-3 col-auto" style="max-width: 1080px;">
    <!-- <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-success">
        Puntuacion: <%=pelicula.puntuacion%>
        <span class="visually-hidden">Puntuacion</span>
      </span> -->
      <h3> <span class="position-absolute top-0 start-50 translate-middle badge bg-success">Puntuacion: <%=pelicula.puntuacion%></span></h3>
     
    <div class="row g-0">
      <div class="col-md-4">
        <img src="data:image/jpeg; base64, <%= ((new Buffer(pelicula.img)).toString('base64')) %>" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            
          <h5 class="card-title"><%=pelicula.nombre%></h5>
          <p class="card-text"><%=pelicula.sinopsis%></p>
          <!-- getFullYear() -->
          <p class="card-text"><small class="text-muted">Año de estreno: <%=pelicula.fechaEstreno.getFullYear()%> | <%=pelicula.duracion%> minutos</small></p>
          
        </div>
        <h5 class="card-title">Actores</h5>
        <ul class="list-group list-group-flush">
            <% actoresV.forEach(function(actor) { %>
            <li class="list-group-item"><%=actor.nombreAct%> <%=actor.apellidosAct%></li>
            <% }); %>
          </ul>
        <div class="card-body">
            <a href="/films/getCommentaries/<%= pelicula.id %>" class="btn btn-primary">Ir a Comentarios</a>
        </div>
        
      </div>
      
    </div>
  </div>
    
</div>
      <!--VISTA COMENTARIOS-->
    <!-- <a class="linkD" href="#"> Ir a Comentarios </a> -->
  
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>