<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/index.css" media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Roboto+Condensed&display=swap" rel="stylesheet">
    
</head>


<body>

<!-- FIN MENU -->

  <h1>Informacion de peliculas</h1>

    
    <div class="border border-dark">


      <span style="font-weight: bold;">Nombre:</span> <%= titleV%><br> <br>
      <span style="font-weight: bold;">Sinopsis:</span> <%= sinopsisV%><br> <br>
      <span style="font-weight: bold;">Genero:</span>  <%= generoV%><br> <br>

      <span style="font-weight: bold;">Actores: </span><br>
      <% actoresV.forEach(function(actor) { %>
        

        <span><%=actor.nombreAct%></span>
        <span><%=actor.apellidosAct%></span><br> 

      <% }); %> 
      <br>

      <span style="font-weight: bold;">Fecha de estreno: </span> <%= fechaEstrenoV%><br> <br>
      <span style="font-weight: bold;">Duracion: </span>  <%= duracionV%>

      </div>
      <!--VISTA COMENTARIOS-->
    <a class="linkD" href="/films/getCommentaries/<%= idV %>"> Ir a Comentarios </a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>